{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block header_class %}tc-header--static{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="tc-layout--post">
        <div class="tc-container">
            <article class="tc-post">
                <h1 class="tc-post-title">{{ page.title }}</h1>
                <div class="tc-post-body">
                    {{ page.body|richtext }}
                </div>
            </article>
        </div>
    </div>

{% endblock %}
