<header class="tc-header {% block header_class %}{% endblock %}">
    <div class="tc-container">
        <a class="tc-logo" href="/">Think Company</a>
        <nav class="tc-navigation">
        <ul class="tc-navigation-list">
            <li>
                <a class="tc-navigation-link" href="/">
                    <i class="fas fa-home"></i>
                    <span class="tc-navigation-link-text">Home</span>
                </a>
            </li>
            <li>
                <a class="tc-navigation-link" href="/">
                    <i class="fas fa-tag"></i>
                    <span class="tc-navigation-link-text">Categories</span>
                </a>
            </li>
            <li>
            <div class="tc-search">
                <button class="tc-search-button" type="button">
                    <i class="fas fa-search" ></i>
                    <span class="tc-navigation-link-text">Search</span>
                </button>
                <form class="tc-search-form">
                    <input type="text" class="tc-search-button-input" placeholder="Search" value="" />
                </form>
            </div>
            </li>
        </ul>
        </nav>
    </div>
</header>