{% load static wagtailuserbar %}

{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %} | {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {# Global stylesheets #}

        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i|Open+Sans:400,700" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header class="tc-header {% block header_class %}{% endblock %}">
            <div class="tc-container">
                <a class="tc-logo" href="{% slugurl 'blog' %}">Think Company</a>
                <nav class="tc-navigation">
                <ul class="tc-navigation-list">
                    <li>
                        <a class="tc-navigation-link" href="{% slugurl 'blog' %}">
                            <i class="fas fa-home"></i>
                            <span class="tc-navigation-link-text">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="tc-navigation-link" href="{% slugurl 'blog' %}">
                            <i class="fas fa-tag"></i>
                            <span class="tc-navigation-link-text">Categories</span>
                        </a>
                    </li>
                    <li>
                        <a class="tc-navigation-link" href="/search">
                            <i class="fas fa-search"></i>
                            <span class="tc-navigation-link-text">Search</span>
                        </a>
                    </li>
                </ul>
                </nav>
            </div>
        </header>

        <main class="tc-main">
            {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.html" %}

        {# Global javascript #}

        {% comment %}
        <script src="{% static 'public/commons-fcbb8af1639fee4f6844.js' %}" defer></script>
        <script src="{% static 'public/app-9f9064ef55e5eef8c5a8.js' %}" defer></script>
        <script src="{% static 'public/path---index-2395de6dc4a95f8d567e.js' %}" defer></script>
        <script src="{% static 'public/component---src-pages-index-js-8c36633c63eaaaa04444.js' %}" defer></script>
        <script src="{% static 'public/component---src-layouts-index-js-fff9066d9a3a3c72216b.js' %}" defer></script>
        {% endcomment %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
