{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block header_class %}tc-header--static{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

    <div class="tc-layout--post">
        <div class="tc-container">
            <article class="tc-post">
                <h1 class="tc-post-title">Search</h1>
                <div class="tc-post-body">
                    <form action="{% url 'search' %}" method="get">
                        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                        <input type="submit" value="Search" class="button">
                    </form>

                    {% if search_results %}
                        <ul>
                            {% for result in search_results %}
                                <li>
                                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                                    {% if result.search_description %}
                                        {{ result.search_description }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if search_results.has_previous %}
                            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                        {% endif %}

                        {% if search_results.has_next %}
                            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                        {% endif %}
                    {% elif search_query %}
                        No results found
                    {% endif %}
                </div>
            </article>
        </div>
    </div>

{% endblock %}
