{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block header_class %}tc-header--static{% endblock %}

{% block content %}

    <div class="tc-layout--post tc-container">
        <section class="tc-posts-section">
            {% if request.GET.tag|length %}
                <h1>Showing pages tagged "{{ request.GET.tag }}"</h1>
            {% endif %}
            {% for post in blogpages %}
                    <article class="tc-post">
                        <a class="tc-post-link" href="{% pageurl post %}">
                            {{ post.title }}
                        </a>
                        <cite class="tc-post-author">
                            by [author name] on {{ post.date }}
                        </cite>
                    </article>
            {% empty %}
                No pages found with that tag.
            {% endfor %}
        </section>
    </div>

{% endblock %}
