{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}

    <div class="tc-hero">
        <h1 class="tc-hero-title">{{ page.title }}</h1>
        <p class="tc-hero-subtitle">{{ page.intro }}</p>
        <button class="tc-scroll-button" type="button" data-reactid="28">
            <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" data-reactid="29"><g data-reactid="30"><path d="m37.5 18.6q0 1.2-0.9 2l-14.5 14.5q-0.9 0.9-2 0.9-1.2 0-2-0.9l-14.6-14.5q-0.8-0.8-0.8-2 0-1.2 0.8-2.1l1.7-1.6q0.9-0.9 2-0.9 1.2 0 2 0.9l6.6 6.5v-15.7q0-1.1 0.8-2t2-0.8h2.9q1.2 0 2 0.8t0.9 2v15.7l6.5-6.5q0.8-0.9 2-0.9 1.2 0 2.1 0.9l1.6 1.6q0.9 0.9 0.9 2.1z" data-reactid="31"></path></g></svg>
        </button>
    </div>

    <div class="tc-layout--home tc-container">
        <section class="tc-posts-section">
            {% for post in blogpages %}
                {% with post=post.specific %}
                    <article class="tc-post">
                        <a class="tc-post-link" href="{% pageurl post %}">
                            {{ post.title }}
                        </a>
                        <cite class="tc-post-author">
                            by [author name] on {{ post.date }}
                        </cite>
                        <p class="tc-post-body">
                            {{ post.intro }}
                            <a class="tc-post-link--more" href="{% pageurl post %}">Read more</a>
                        </p>
                    </article>
                {% endwith %}
            {% endfor %}
        </section>

        <aside class="tc-announcements">
            <h3 class="tc-announcements-title">Upcoming events</h3>
            <ul class="tc-event-list">
                <li>
                    <h4 class="tc-event-title">CHEESE DAY 2018</h4>
                    <time class="tc-event-date">July 13, 2018, 5pm - 9pm</time>
                    <span class="tc-event-location">Philadelphia Think Space</span>
                    <span class="tc-event-location"> 111 S 15th St</span>
                </li>
            </ul>
        </aside>

    </div>

{% endblock %}
