{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block header_class %}tc-header--static{% endblock %}

{% block content %}

    <div class="tc-layout--post">
        <div class="tc-container">
            <article class="tc-post">
                <h1 class="tc-post-title">{{ page.title }}</h1>
                <cite class="tc-post-author">by [author name] on {{ page.date }}</cite>
                <div class="tc-post-body">
                    {{ page.body|richtext }}
                </div>
                {% with tags=page.tags.all %}
                    {% if tags.count %}
                        <ul class="tc-post-tags" data-reactid="35">
                            {% for tag in tags.all %}
                                <li>
                                    <i class="fas fa-tag"></i>
                                    <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </article>

            <ul class="tc-post-navigation-links" data-reactid="45">
                <li data-reactid="46">
                    <a class="tc-post-navigation-link" rel="next" href="{{ page.get_parent.url }}">
                        ← Return to blog
                    </a>
                </li>
            </ul>

        </div>
    </div>

    {% comment %}
    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Posted in:</h3>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% endcomment %}

    {% comment %}
    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
    {% endcomment %}

{% endblock %}
